@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
html {
  font-size: 100%; /* Default size */
}
/* General Styling */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1vw;
    color: inherit;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/*notify box*/
.notify-popup {
  position: fixed;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border-radius: 0.5vw;
  box-shadow: 0 0.52vw 1.56vw rgba(0, 0, 0, 0.2);
  width: 88vw;
  max-width: 34vw;
  z-index: 1000;
  padding-bottom: 1vw;
  padding-top: 1vw;
  display: flex;
  align-items: center;
  animation: fadeIn 0.5s ease;
}

.notify-content {
  display: flex;
  align-items: left;
}

.notify-icon {
	width: 4vw;
	max-width: 50px;
	padding-top: 0.5vw;
	padding-bottom: 4vw;
	padding-left: 2vw;
	padding-right: 2vw;
}

.notify-text h3 {
  margin: 0 0 0.5vw;
  font-size: 1.2vw;
}

.notify-text p {
  margin: 0 0 1vw;
  font-size: 1vw;
  color: #637381;
}

.notify-buttons {
	padding-left: 12vw;
}

.notify-buttons button {
  padding: 0.5vw 1vw;
  border: none;
  border-radius: 0.3vw;
  cursor: pointer;
  margin-right: 0.5vw;
  width: 5.5vw;
  height: 2.4vw;
  font-size: 1.05vw;
}

.allow-btn {
  background-color: #2e64e8;
  color: white;
}

.later-btn {
  background-color: white;
  color: #637381;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translate(-50%, 10%); }
  to { opacity: 1; transform: translate(-50%, 0); }
}

/* Top Bar */
.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 0.52vw 1.04vw;
	background-color: #f4f4f4;
    font-size: 1vw;
    overflow: hidden;
    position: relative;
}

.contact-info i {
    margin-right: 0.26vw;
}

/* Scrolling Announcement */
.scrolling-container {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 72vw;
	margin: 0;
}

.scrolling-text {
    display: inline-block;
    white-space: nowrap;
    animation: scrollText 50s linear infinite;
}

@keyframes scrollText {
    from {
        transform: translateX(5%);
    }
    to {
        transform: translateX(-100%);
    }
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 3vw;
}

/* Logo */
.header-logo {
	width: 6vw;
	padding-top: 0.5vw;
}

/* Navigation */
nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 1vw;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.3vw;
    color: black;
	transition: 0.3s ease;
	text-shadow: 0 0 5px rgba(0, 255, 0, 0); /* start invisible */
}

nav ul li a:hover{
	color: #000; /* neon green color */
	  text-shadow: 
		0 0 5px #2ea5cd,
		0 0 10px #2ea5cd,
		0 0 20px #2ea5cd,
		0 0 40px #2ea5cd;
	  transform: scale(1.2);
}

/* Search and Icons */
.nav-icons {
    display: flex;
    align-items: center;
}

.search-box {
    background: #f4f4f4;
    padding: 0.26vw 0.42vw;
    border-radius: 1.04vw;
    display: flex;
    align-items: center;
    margin-right: 0.78vw;
	width: 15vw;
}

.search-box input {
    border: none;
    background: transparent;
    outline: none;
    padding: 0.26vw;
	font-size: 1.1vw;
	width: 100%;
}

.search-box input::placeholder {
    font-size: 1vw;
}

lord-icon {
	width:2.1vw;
	height:2.1vw;
}

.nav-icons lord-icon {
    margin-left: 0.78vw;
    cursor: pointer;
}

.addtocard-icon {
	width: 2.4vw;
	height: 2.4vw;
}

/*mobile search bar*/
.mobile-search {
  display: none;
}

/*main image home page*/
.slider-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  width: 100%;
  transition: transform 1.4s ease-in-out; /* 🔥 smooth sliding */
}

.slider img {
  width: 100vw;
  height: 85vh;
  object-fit: cover;
  flex-shrink: 0;
}

.benefits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #000;
    color: #fff;
	padding-top: 2vw;
	padding-bottom: 1.5vw;
	padding-left: 9vw;
	padding-right: 9vw;
    text-align: center;
    gap: 1.5vw;
	margin-top: 2.3vw;
}

.benefit {
    flex: 1 1 9.375vw;
    max-width: 10.42vw;
}

.benefit p {
    font-size: 1vw;
    margin-top: 0.5vw;
    line-height: 1.4;
}
/* Digital Clock Section */
.digital-clock {
  font-family: 'Poppins', sans-serif; /* Use an attractive font */
  font-size: 4vw;
  color: #2ea5cd; /* Change to a more vibrant color */
  text-align: center;
  background: white;
  padding: 2vw;
  margin: auto;
  height: 26.2vw;
  max-width: 45%;
}

/* Clock Heading */
.clock-heading {
  font-size: 2.5vw; /* Make the heading more prominent */
  font-weight: 600;
  color: #333; /* Darker color for the heading */
}

.time-quote {
  font-family: 'Comfortaa', sans-serif;
  font-size: 1.2vw;
  color: #333;
  text-align: center;
  font-style: italic;
}

/* Digital Clock Time */
#digital-clock-time {
  font-size: 3.5vw;
  font-weight: bold;
  color: black; 
}

/* Align the Clock Image to the Right */
.clock-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw;
}

.clock-image {
  max-width: 45%;
  
}

.clock-image img {
  width: 100%;
  border-radius: 2vw; /* Rounded corners for the image */
  box-shadow: 0 0 2vw rgba(0, 0, 0, 0.1); /* Subtle shadow */
}


/* Footer Section */
.footer {
  background-color: #f5f5f5;
  color: #000;
  padding: 2.08vw 3.13vw; /* 40px 60px */
  font-family: 'Poppins', sans-serif;
  font-size: 1vw;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-left {
  flex: 1 1 15.63vw; /* 300px */
  margin-bottom: 1.56vw; /* 30px */
}

.footer-logo {
  width: 12vw; /* 180px */
  margin-bottom: 1.04vw; /* 20px */
}

.subscribe-form {
  display: flex;
  max-width: 26vw;
  height: 3.2vw;
  margin-top: 1.04vw; /* 20px */
}

.subscribe-form input {
  flex: 1;
  padding: 0.52vw;
  border: 0.2vw solid #000;
  border-right: none;
  font-size: 1.2vw;
  outline: none;
  border-top-left-radius: 0.4vw;
  border-bottom-left-radius: 0.4vw;
}


.subscribe-form button {
  background-color: #000;
  color: #fff;
  padding: 0.52vw 1.04vw;
  border: 0.2vw solid #000;
  border-left: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.1vw;
  border-top-right-radius: 0.4vw;
  border-bottom-right-radius: 0.4vw;
}

.footer-links {
  display: flex;
  flex: 2 1 31.25vw; /* 600px */
  flex-wrap: wrap;
  gap: 1.56vw; /* 30px */
}

.footer-column {
  flex: 1 1 10.42vw; /* 200px */
}

.policies {
	padding-left: 3vw;
}

.help {
	padding-left: 5vw;
}

.footer-column h4 {
  font-size: 1.2vw; 
  margin-bottom: 0.52vw; /* 10px */
  font-weight: 600;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 1vw; /* 8px */
}

.footer-column ul li a {
  text-decoration: none;
  color: #000;
}

.footer-column.social .social-icons {
  display: flex;
  gap: 0.78vw; /* 15px */
  margin-top: 0.52vw; /* 10px */
}

.social-icons a {
  font-size: 1.8vw; /* resize social-icons */
  color: #000;
  transition: 0.3s ease;
  text-shadow: 0 0 5px rgba(0, 255, 0, 0); /* start invisible */
}

.social-icons a:hover {
  color: #000; /* neon green color */
  text-shadow: 
    0 0 5px #29ff08,
    0 0 10px #29ff08,
    0 0 20px #29ff08,
    0 0 40px #29ff08;
  transform: scale(1.2);
}

.footer-bottom {
  text-align: center;
  border-top: 0.05vw solid #ccc; /* 1px */
  margin-top: 1.56vw; /* 30px */
  margin-bottom: -1vw;
}

.footer-bottom p {
  font-size: 1.1vw;
  color: #555;
  margin: 0;
  padding-top: 0.8vw;
}

/* after click subscribe button show offers*/
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  margin: 5% auto;
  padding: 2vw;
  border-radius: 1vw;
  width: 40vw;
  font-family: 'Arial', sans-serif;
  position: relative;
}

.modal-content li {
  list-style: none;
}

.close-btn {
  position: absolute;
  top: 1vw;
  right: 1vw;
  font-size: 1.5vw;
  cursor: pointer;
}

.discount-code {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  border: 1px solid #ccc;
  padding: 0.5vw;
  max-width: 30vw;
}

.discount-code input {
  flex: 1;
  font-size: 1.2vw;
  border: none;
  outline: none;
}

.copy-icon {
  font-size: 1.5vw;
  color: #555;
  cursor: pointer;
  transition: color 0.3s;
}

.copy-icon:hover {
  color: #000;
}

/* Overlay behind the menu */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

/* Show overlay when menu is open */
.overlay.active {
  display: block;
}

/* Mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 70%;
  height: 100%;
  background-color: #fff;
  z-index: 1000;
  transition: left 0.3s ease-in-out;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.mobile-menu.active {
  left: 0;
}

/* Close button inside menu */
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 35px;
  background: none;
  border: none;
  cursor: pointer;
}


/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  padding: 10px;
  z-index: 1100;
  position: relative;
}

.hamburger.hide {
  display: none;
}

.hamburger .bar {
  width: 25px;
  height: 2px;
  background: #000;
  transition: all 0.3s ease;
}

.ham-menu-login {
	margin-top: -20px;
}
.ham-menu-login a {
	text-decoration: none;
	color: black;
	font-size: 5vw;
}



.mobile-nav-list {
  list-style: none;
  padding: 0;
}

.mobile-nav-list li {
  margin: 10px 0;
}

.mobile-nav-list li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

.contact-mobile-menu {
	font-size: 16px;
	color: white;
	background-color: black;
	margin-bottom: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	line-height: 1;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.contact {
	padding-left: 30px;
}

.contact-mobile-menu span {
	font-size: 14px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
	
	.ham-menu-login lord-icon {
		height: 7vw;
		width: 7vw;
		padding-top: 13px;
	}
	
	.mobile-menu img {
		width: 5vw;
	}
	
	.search-box {
		display: none;
	}
	
	.top-bar {
		display: none;
	}
	
	.notify-popup {
		display: none;
	}
	
	.hamburger {
		display: flex;
	}

	nav ul {
		display: none;
	}
	
	.header-logo {
		flex: 1;
		text-align: center;
		width: 19vw;
		padding-left: 10vw;
	}

	.nav-icons {
		gap: 0.1vw;
	}
	
	lord-icon {
		width: 5vw;
		height: 5vw;
	}
	
	.addtocard-icon {
		width: 6vw;
		height: 6vw;
	}
	
	.mobile-search{
		background: #f4f4f4;
		border-radius: 1.04vw;
		display: flex;
		align-items: center;
		margin-bottom: 2vw;
		margin-left: 4.5vw;
		margin-right: 4.5vw;
		margin-top: 0;
	}
	
	.mobile-search input {
		border: none;
		background: transparent;
		outline: none;
		font-size: 3vw;
		width: 100%;
	}

	
	
	/* Prevent zoom on mobile inputs */
	input, textarea {
		font-size: 16px;
		touch-action: manipulation;
	}
}


